@charset "UTF-8";

.dn {
  display: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.df {
  display: flex;
}

.dt {
  display: table;
}

.fsr0 {
  font-size: 1rem;
}

.fsr1 {
  font-size: 1.1rem;
}

.fsrS {
  font-size: 1.2rem;
}

.fsr3 {
  font-size: 1.3rem;
}

.fsr4 {
  font-size: 1.4rem;
}

.fsrM {
  font-size: 1.5rem;
}

.fsr6 {
  font-size: 1.6rem;
}

.fsr7 {
  font-size: 1.7rem;
}

.fsrL {
  font-size: 1.8rem;
}

.fsrXL {
  font-size: 2rem;
}

.fsp0 {
  font-size: 10px;
}

.fsp1 {
  font-size: 11px;
}

.fspS {
  font-size: 12px;
}

.fsp3 {
  font-size: 13px;
}

.fsp4 {
  font-size: 14px;
}

.fspM {
  font-size: 15px;
}

.fsp6 {
  font-size: 16px;
}

.fsp7 {
  font-size: 17px;
}

.fspL {
  font-size: 18px;
}

.fspXL {
  font-size: 2px;
}

.fwb {
  font-weight: bold;
}

.mAuto {
  margin: auto;
}

.m0 {
  margin: 0;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.m25 {
  margin: 25px;
}

.m30 {
  margin: 30px;
}

.mx5 {
  margin: 5px auto;
}

.mx10 {
  margin: 10px auto;
}

.mx15 {
  margin: 15px auto;
}

.mx20 {
  margin: 20px auto;
}

.mx25 {
  margin: 25px auto;
}

.mx30 {
  margin: 30px auto;
}

.my5 {
  margin: auto 5px;
}

.my10 {
  margin: auto 10px;
}

.my15 {
  margin: auto 15px;
}

.my20 {
  margin: auto 20px;
}

.my25 {
  margin: auto 25px;
}

.my30 {
  margin: auto 30px;
}

.mt0 {
  margin-top: 0;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.ml0 {
  margin-left: 0;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.mr0 {
  margin-right: 0;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mb0 {
  margin-bottom: 0;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.p0 {
  padding: 0;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.p25 {
  padding: 25px;
}

.p30 {
  padding: 30px;
}

.pvw5 {
  padding: 0 5vw;
}

.pvw10 {
  padding: 0 10vw;
}

.pvw15 {
  padding: 0 15vw;
}

.pvw20 {
  padding: 0 20vw;
}

.pvw25 {
  padding: 0 25vw;
}

.pvw30 {
  padding: 0 30vw;
}

.pvh5 {
  padding: 5vh 0;
}

.pvh10 {
  padding: 10vh 0;
}

.pvh15 {
  padding: 15vh 0;
}

.pvh20 {
  padding: 20vh 0;
}

.pvh25 {
  padding: 25vh 0;
}

.pvh30 {
  padding: 30vh 0;
}

.px5 {
  padding: 5px 0;
}

.px10 {
  padding: 10px 0;
}

.px15 {
  padding: 15px 0;
}

.px20 {
  padding: 20px 0;
}

.px25 {
  padding: 25px 0;
}

.px30 {
  padding: 30px 0;
}

.py5 {
  padding: 0 5px;
}

.py10 {
  padding: 0 10px;
}

.py15 {
  padding: 0 15px;
}

.py20 {
  padding: 0 20px;
}

.py25 {
  padding: 0 25px;
}

.py30 {
  padding: 0 30px;
}

.pt0 {
  padding-top: 0px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pl0 {
  padding-left: 0px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pr0 {
  padding-right: 0px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pb0 {
  padding-bottom: 0px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.col_white {
  color: #fff;
}

.col_whitec {
  color: #ccc;
}

.col_black {
  color: #000;
}

.col_black2 {
  color: #222;
}

.col_red {
  color: #f00;
}

.col_redo {
  color: #ff5e00;
}

.col_blue {
  color: #00f;
}

.col_blue0 {
  color: #04f;
}

.col_yellow {
  color: #ff0;
}

.col_orange {
  color: #ffa500;
}

.col_oranger {
  color: #ff5e00;
}

.tsB {
  text-shadow: 0 0 0 #000, 1px 0 0 #000, 1px -1px 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 0px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 0 -1px 0 #000;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.global-menu-container {
  position: relative;
  display: block;
  width: 100vw;
  height: 62px;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

/**
* views item
*/

#item-app .item_table {
  margin: 25px;
}

#item-app .item_table ._row {
  border: solid 1px #454545;
  line-height: 3rem;
  margin: 2px auto;
}

#item-app .item_table ._row._sepa::before {
  position: relative;
  display: inline-block;
  width: 25%;
  height: auto;
  text-align: center;
  margin-right: 10px;
  border-right: solid 1px #454545;
}

#item-app .item_table ._row ._conte {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
}

#item-app .item_table ._name::before {
  content: "\5546\54C1\540D";
}

#item-app .item_table ._desc::before {
  content: "\5546\54C1\8AAC\660E";
}

#item-app .item_table ._price::before {
  content: "\4FA1\683C(\7A0E\8FBC\307F)";
}

#item-app .item_table ._price::after {
  content: "\5186";
}

#item-app .item_list {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
}

#item-app .item_tray {
  position: relative;
  display: inline-block;
  width: 28%;
  height: auto;
  min-width: 150px;
  margin: 10px;
}

#item-app .item_tray ._thumbnail {
  position: relative;
  overflow: hidden;
}

#item-app .item_tray ._thumbnail:hover {
  transform: rotate3d(0, 0, 0, 0);
  -webkit-filter: brightness(100%)invert(1);
          filter: brightness(100%)invert(1);
  justify-content: center;
}

#item-app .item_tray ._thumbnail:hover::after {
  -webkit-animation: _thumbnail_over 0.3s ease 0s 1 normal forwards;
          animation: _thumbnail_over 0.3s ease 0s 1 normal forwards;
}

#item-app .item_tray ._thumbnail::after {
  content: attr(itshde);
  position: absolute;
  display: flex;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: -40px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 90%;
  font-weight: bold;
  line-height: 95%;
  letter-spacing: -0.08em;
}

#item-app .item_tray img[data-v-thum] {
  display: block;
}

@-webkit-keyframes _thumbnail_over {
  0% {
    bottom: -40px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes _thumbnail_over {
  0% {
    bottom: -40px;
  }

  100% {
    bottom: 0;
  }
}

